<a href="https://colab.research.google.com/github/IfrazQazi/Play-Store-App-Review-Analysis-Capstone-Project/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

## First importing libraries and mounting google drive.
## loading data into data frame

In [4]:
#importing library
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
# loading play store data into data frame
dir_path='/content/drive/MyDrive/AlmaBetter/Module 1/Capstone Project Play Store App Review Analysis/'
play_s_d=pd.read_csv(dir_path+'Play Store Data.csv')

In [7]:
# loading User Reviews into data frame
user_review=pd.read_csv(dir_path+'User Reviews.csv')

#The objective of this project is to deliver insights to understand customer demands better and help developer to populriaz the application

##Discussion of Google play store dataset will involve various steps such as:
## 1)loading the data into data frame
## 2)cleaning the data
## 3)extracting statistics from the dataset
## 4)exploratory analysis and visualizations
## 5)questions that can be asked from the dataset conclusion
#We can move to first step of data analysis by cleaning the data that will make the results more accurate.

In [8]:
play_s_d.head(10)

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up
5                         Paper flowers instructions  ...    2.3 and up
6            Smoke Effect Photo Maker - Smoke Editor  ...  4.0.3 and up
7                                   Infinite Painter  ...    4.2 and up
8                               Garden Coloring Book  ...    3.0 and up
9                      Kids Paint Free - Drawing Fun  ...  4.0.3 and up

[10 rows x 13 columns]

In [9]:
play_s_d.tail(10)

                                                 App  ...         Android Ver
10831                       payermonstationnement.fr  ...          4.0 and up
10832                                       FR Tides  ...          2.1 and up
10833                                    Chemin (fr)  ...          2.2 and up
10834                                  FR Calculator  ...          4.1 and up
10835                                       FR Forms  ...          4.0 and up
10836                               Sya9a Maroc - FR  ...          4.1 and up
10837               Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                         Parkinson Exercices FR  ...          2.2 and up
10839                  The SCP Foundation DB fr nn5n  ...  Varies with device
10840  iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[10 rows x 13 columns]

In [10]:
play_s_d.shape

(10841, 13)

# Above dataframe having more than 10000 rows and 13 columns.

##Play store dataframe of app which consist of name of application ,category of app , rating  given by users , number of users review, size of app in(Mb/Kb) , number of installs of each app , type of app(free/paid), price of app, rating of content , genres of app , last updated, current version of application and requried android version

In [11]:
play_s_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [12]:
user_review.head(10)

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...               0.875000
4  10 Best Foods for You  ...               0.300000
5  10 Best Foods for You  ...               0.300000
6  10 Best Foods for You  ...               0.900000
7  10 Best Foods for You  ...                    NaN
8  10 Best Foods for You  ...               0.000000
9  10 Best Foods for You  ...               0.000000

[10 rows x 5 columns]

In [13]:
user_review.tail(10)

                               App  ... Sentiment_Subjectivity
64285  Houzz Interior Design Ideas  ...                    NaN
64286  Houzz Interior Design Ideas  ...                    NaN
64287  Houzz Interior Design Ideas  ...                    NaN
64288  Houzz Interior Design Ideas  ...                    NaN
64289  Houzz Interior Design Ideas  ...                    NaN
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[10 rows x 5 columns]

In [14]:
user_review.shape

(64295, 5)

In [15]:
user_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

# Above User_review dataframe is having more than 6000 rows and 5 columns:
## name of app , translated_review given by users, sentiment , sentiment polarity , sentiment subjective

## lets see first play store dataset

In [16]:
# Replacing space in columns with _

play_s_d.columns=[each.replace(" ","_") for each in play_s_d.columns]

In [17]:
play_s_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content_Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last_Updated    10841 non-null  object
 11  Current_Ver     10833 non-null  object
 12  Android_Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

## as we can see the play store dataset is having Review, Size of app, number of installs, and price is object data type and we can also see there is null value in some columns 
## now first i will convert Review, Size, Installs and price into numeric data type

In [18]:
#Change reviews column datatype to int
play_s_d.Reviews = play_s_d.Reviews.apply(lambda x: float(str(x).replace('M', '')) if 'M' in str(x) else x) 
play_s_d.Reviews = play_s_d.Reviews.apply(lambda x:int(x))

In [19]:
play_s_d['Reviews'].mean()

444111.9265750392

In [20]:
#converting column "Size"  Mb Kb and  (+) and (,) to float using lamda function
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: str(x).replace('Varies with device', 'NaN') if 'Varies with device' in str(x) else x)
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: str(x).replace('M', '') if 'M' in str(x) else x)
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: str(x).replace(',', '') if ',' in str(x) else x)
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: float(str(x).replace('k', '')) / 1000 if 'k' in str(x) else x) # 1 MB is equal to 1000 KB
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: str(x).replace('+','') if '+' in str(x) else x)

In [21]:
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: float(x))

In [22]:
play_s_d['Size'].min()

0.0085

## minimum Size is not zero so i can move forward

In [23]:
play_s_d['Size'].max()

1000.0

In [24]:
play_s_d['Size'].mean()

21.62351437787002

## so now i have successfully converted two columns.
## Reviews and Size are now numeric data type

In [25]:
play_s_d['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0', 'Free'], dtype=object)

## we can see that there is + and coma(,) symbol and Free srting
## so i will remove those symbolys
## replace Free with nan

In [26]:
# converting column 'Installs'
play_s_d['Installs'] = play_s_d['Installs'].apply(lambda x: str(x).replace('Free', 'NaN') if 'Free' in str(x) else x)
play_s_d['Installs'] = play_s_d['Installs'].apply(lambda x: str(x).replace('+', '') if '+' in str(x) else x)
play_s_d['Installs'] = play_s_d['Installs'].apply(lambda x: str(x).replace(',', '') if ',' in str(x) else x)
play_s_d['Installs']=play_s_d['Installs'].apply(lambda x: float(x))

In [27]:
play_s_d['Installs'].min(),play_s_d['Installs'].max()

(0.0, 1000000000.0)

In [28]:
play_s_d['Installs'].mean()

15464338.882564576

In [29]:
play_s_d['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

## as we can see there is dollar symbol and having string 'Everyone'
## so i will remove dollar symbol and replace Everyone with nan

In [30]:
# converting column "Price" 
play_s_d['Price'] = play_s_d['Price'].apply(lambda x: str(x).replace('Everyone', 'NaN') if 'Everyone' in str(x) else x)

play_s_d['Price'] = play_s_d['Price'].apply(lambda x: str(x).replace('$','') if '$' in str(x) else x)
play_s_d['Price'] = play_s_d['Price'].apply(lambda x: str(x).replace(' ','') if ' ' in str(x) else x)

In [31]:
play_s_d['Price']=play_s_d['Price'].apply(lambda x: float(x))

In [32]:
play_s_d['Price'].min()

0.0

In [33]:
play_s_d['Price'].max()

400.0

In [34]:
play_s_d['Price'].mean()

1.027368081180801

In [35]:
play_s_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size            9146 non-null   float64
 5   Installs        10840 non-null  float64
 6   Type            10840 non-null  object
 7   Price           10840 non-null  float64
 8   Content_Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last_Updated    10841 non-null  object
 11  Current_Ver     10833 non-null  object
 12  Android_Ver     10838 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.1+ MB

## Now I have changed the data type of coulmns Reviews,Size,Installs,Price from object to float and integer data type.

In [36]:
play_s_d.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size              1695
Installs             1
Type                 1
Price                1
Content_Rating       1
Genres               0
Last_Updated         0
Current_Ver          8
Android_Ver          3
dtype: int64

## lets move to replace missing values

In [37]:
play_s_d['Rating'].mean()

4.193338315362448

In [38]:
# replace null values in column Rating with mean()
play_s_d['Rating'].fillna(value=4.1,inplace=True)

In [39]:
play_s_d['Rating'].max()

19.0

## we know that maximum rating should be 5 but the above output is having greater than 5 rating
##lets see how many rows are having rating greater than zero

In [40]:
play_s_d[play_s_d['Rating']>5]

                                           App Category  ...  Current_Ver  Android_Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up          NaN

[1 rows x 13 columns]

In [41]:
play_s_d[play_s_d['Installs'].isna()]

                                           App Category  ...  Current_Ver  Android_Ver
10472  Life Made WI-Fi Touchscreen Photo Frame      1.9  ...   4.0 and up          NaN

[1 rows x 13 columns]

## it has only one row where rating is greater than 5 so we can simply just drop that row

In [42]:
play_s_d.drop([10472],inplace= True)

In [43]:
play_s_d[play_s_d['Rating']>5]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content_Rating, Genres, Last_Updated, Current_Ver, Android_Ver]
Index: []

In [44]:
play_s_d['Rating'].isna().any()

False

## now i have successfully removed null values in Rating column

In [45]:
play_s_d[play_s_d['Price'].isna()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content_Rating, Genres, Last_Updated, Current_Ver, Android_Ver]
Index: []

In [46]:
play_s_d['Type'].unique()

array(['Free', 'Paid', nan], dtype=object)

## we can see that there is Three unique values of Type column
## i am thinking that replace nan with free if price is zero and paid if price is greater than zero

In [47]:
# replace nan with free if price is zero and paid if price is greater than zero
play_s_d.loc[play_s_d.Price == 0, 'Type'] = "Free"
play_s_d.loc[play_s_d.Price > 0, 'Type'] = "Paid"

In [48]:
play_s_d[play_s_d['Type'].isna()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content_Rating, Genres, Last_Updated, Current_Ver, Android_Ver]
Index: []

In [49]:
play_s_d.Type.unique()

array(['Free', 'Paid'], dtype=object)

## now i have successfully replaced NaN  values with free and paid

In [50]:
play_s_d.isna().sum()

App                  0
Category             0
Rating               0
Reviews              0
Size              1695
Installs             0
Type                 0
Price                0
Content_Rating       0
Genres               0
Last_Updated         0
Current_Ver          8
Android_Ver          2
dtype: int64

In [51]:
play_s_d[play_s_d['Size'].isna()]

                                                     App  ...         Android_Ver
37                                    Floor Plan Creator  ...        2.3.3 and up
42                            Textgram - write on photos  ...  Varies with device
52                         Used Cars and Trucks for Sale  ...  Varies with device
67                                    Ulysse Speedometer  ...  Varies with device
68                                                REPUVE  ...  Varies with device
...                                                  ...  ...                 ...
10713  My Earthquake Alerts - US & Worldwide Earthquakes  ...  Varies with device
10725                                          Posta App  ...          4.4 and up
10765                    Chat For Strangers - Video Chat  ...  Varies with device
10826          Frim: get new friends on local chat rooms  ...  Varies with device
10839                      The SCP Foundation DB fr nn5n  ...  Varies with device

[1695 rows x 13 columns]

## Let us replace the missing values of the Size Column with the Mean value of that entire column.

In [52]:
# lets see Mean of the Size column
play_s_d['Size'].mean()

21.516529524330146

In [53]:
# replacing null value in Size column with Mean
play_s_d['Size'].fillna(value=21.5, inplace = True)

In [54]:
# Check if there is any null value
play_s_d[play_s_d['Size'].isna()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content_Rating, Genres, Last_Updated, Current_Ver, Android_Ver]
Index: []

## so now we have succefully replaced null value in Column Size

## so now we have two columns which are having null values
## Android_Ver and Current_Ver

In [55]:
play_s_d[play_s_d['Android_Ver'].isna()]

                         App         Category  ...  Current_Ver  Android_Ver
4453  [substratum] Vacuum: P  PERSONALIZATION  ...          4.4          NaN
4490    Pi Dark [substratum]  PERSONALIZATION  ...          1.1          NaN

[2 rows x 13 columns]

In [56]:
play_s_d[play_s_d['Current_Ver'].isna()]

                                   App  ... Android_Ver
15     Learn To Draw Kawaii Characters  ...  4.2 and up
1553              Market Update Helper  ...  1.5 and up
6322            Virtual DJ Sound Mixer  ...  4.0 and up
6803                         BT Master  ...  1.6 and up
7333                       Dots puzzle  ...  4.0 and up
7407                   Calculate My IQ  ...  2.3 and up
7730                            UFO-CQ  ...  2.0 and up
10342                   La Fe de Jesus  ...  3.0 and up

[8 rows x 13 columns]

In [57]:
play_s_d['Android_Ver'].value_counts()[0:1]

4.1 and up    2451
Name: Android_Ver, dtype: int64

In [58]:
play_s_d['Current_Ver'].value_counts()[0:1]

Varies with device    1459
Name: Current_Ver, dtype: int64

## I am thinking that in Android_Ver and Current_Ver columns i can replace null value with value which is having highest number of count

In [59]:
# replacing null value in column Android_ver with 4.1 and up
play_s_d['Android_Ver'].fillna('4.1 and up', inplace = True)

In [60]:
# replacing null value in column Current_ver with Varies with device
play_s_d['Current_Ver'].fillna('Varies with device', inplace = True)

In [61]:
play_s_d[play_s_d['Android_Ver'].isna()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content_Rating, Genres, Last_Updated, Current_Ver, Android_Ver]
Index: []

In [62]:
play_s_d[play_s_d['Current_Ver'].isna()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content_Rating, Genres, Last_Updated, Current_Ver, Android_Ver]
Index: []

In [63]:
play_s_d.isna().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content_Rating    0
Genres            0
Last_Updated      0
Current_Ver       0
Android_Ver       0
dtype: int64

## We have Successfully replaced null values in every column
## so now we dont have any column which is having null values

## Lets move to user_review Dataframe

In [64]:
user_review.head(10)

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...               0.875000
4  10 Best Foods for You  ...               0.300000
5  10 Best Foods for You  ...               0.300000
6  10 Best Foods for You  ...               0.900000
7  10 Best Foods for You  ...                    NaN
8  10 Best Foods for You  ...               0.000000
9  10 Best Foods for You  ...               0.000000

[10 rows x 5 columns]

In [65]:
user_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [66]:
user_review.isna().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [67]:
user_review.Sentiment.unique()

array(['Positive', nan, 'Neutral', 'Negative'], dtype=object)

In [68]:
user_review.loc[user_review['Sentiment'].isna() & user_review['Sentiment_Polarity'].isna()]

                               App  ... Sentiment_Subjectivity
2            10 Best Foods for You  ...                    NaN
7            10 Best Foods for You  ...                    NaN
15           10 Best Foods for You  ...                    NaN
102          10 Best Foods for You  ...                    NaN
107          10 Best Foods for You  ...                    NaN
...                            ...  ...                    ...
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[26863 rows x 5 columns]

In [69]:
user_review.describe()

       Sentiment_Polarity  Sentiment_Subjectivity
count        37432.000000            37432.000000
mean             0.182146                0.492704
std              0.351301                0.259949
min             -1.000000                0.000000
25%              0.000000                0.357143
50%              0.150000                0.514286
75%              0.400000                0.650000
max              1.000000                1.000000

In [70]:
merged_df = play_s_d.merge(user_review, on="App")

In [73]:
merged_df.head(10)

                   App  ... Sentiment_Subjectivity
0  Coloring book moana  ...               1.000000
1  Coloring book moana  ...               0.833333
2  Coloring book moana  ...               0.000000
3  Coloring book moana  ...                    NaN
4  Coloring book moana  ...               0.600000
5  Coloring book moana  ...               0.900000
6  Coloring book moana  ...                    NaN
7  Coloring book moana  ...               0.000000
8  Coloring book moana  ...               1.000000
9  Coloring book moana  ...               0.600000

[10 rows x 17 columns]

## in merged dataframe we have 4 new columns Translated_Review, Sentiment,Sentiment_Polarity, Sentiment_Subjectivity