<a href="https://colab.research.google.com/github/IfrazQazi/Play-Store-App-Review-Analysis-Capstone-Project/blob/main/Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

## First importing libraries and mounting google drive.
## loading data into data frame

In [82]:
#importing library
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [83]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [84]:
# loading play store data into data frame
dir_path='/content/drive/MyDrive/AlmaBetter/Module 1/Capstone Project Play Store App Review Analysis/'
play_s_d=pd.read_csv(dir_path+'Play Store Data.csv')

In [85]:
# loading User Reviews into data frame
user_review=pd.read_csv(dir_path+'User Reviews.csv')

#The objective of this project is to deliver insights to understand customer demands better and help developer to populriaz the application

##Discussion of Google play store dataset will involve various steps such as:
## 1)loading the data into data frame
## 2)cleaning the data
## 3)extracting statistics from the dataset
## 4)exploratory analysis and visualizations
## 5)questions that can be asked from the dataset conclusion
#We can move to first step of data analysis by cleaning the data that will make the results more accurate.

In [86]:
play_s_d.head(10)

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up
5                         Paper flowers instructions  ...    2.3 and up
6            Smoke Effect Photo Maker - Smoke Editor  ...  4.0.3 and up
7                                   Infinite Painter  ...    4.2 and up
8                               Garden Coloring Book  ...    3.0 and up
9                      Kids Paint Free - Drawing Fun  ...  4.0.3 and up

[10 rows x 13 columns]

In [87]:
play_s_d.tail(10)

                                                 App  ...         Android Ver
10831                       payermonstationnement.fr  ...          4.0 and up
10832                                       FR Tides  ...          2.1 and up
10833                                    Chemin (fr)  ...          2.2 and up
10834                                  FR Calculator  ...          4.1 and up
10835                                       FR Forms  ...          4.0 and up
10836                               Sya9a Maroc - FR  ...          4.1 and up
10837               Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                         Parkinson Exercices FR  ...          2.2 and up
10839                  The SCP Foundation DB fr nn5n  ...  Varies with device
10840  iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[10 rows x 13 columns]

In [88]:
play_s_d.shape

(10841, 13)

# Above dataframe having more than 10000 rows and 13 columns.

##Play store dataframe of app which consist of name of application ,category of app , rating  given by users , number of users review, size of app in(Mb/Kb) , number of installs of each app , type of app(free/paid), price of app, rating of content , genres of app , last updated, current version of application and requried android version

In [89]:
play_s_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [90]:
user_review.head(10)

                     App  ... Sentiment_Subjectivity
0  10 Best Foods for You  ...               0.533333
1  10 Best Foods for You  ...               0.288462
2  10 Best Foods for You  ...                    NaN
3  10 Best Foods for You  ...               0.875000
4  10 Best Foods for You  ...               0.300000
5  10 Best Foods for You  ...               0.300000
6  10 Best Foods for You  ...               0.900000
7  10 Best Foods for You  ...                    NaN
8  10 Best Foods for You  ...               0.000000
9  10 Best Foods for You  ...               0.000000

[10 rows x 5 columns]

In [91]:
user_review.tail(10)

                               App  ... Sentiment_Subjectivity
64285  Houzz Interior Design Ideas  ...                    NaN
64286  Houzz Interior Design Ideas  ...                    NaN
64287  Houzz Interior Design Ideas  ...                    NaN
64288  Houzz Interior Design Ideas  ...                    NaN
64289  Houzz Interior Design Ideas  ...                    NaN
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[10 rows x 5 columns]

In [92]:
user_review.shape

(64295, 5)

In [93]:
user_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

# Above User_review dataframe is having more than 6000 rows and 5 columns:
## name of app , translated_review given by users, sentiment , sentiment polarity , sentiment subjective

## lets see first play store dataset

In [94]:
# Replacing space in columns with _

play_s_d.columns=[each.replace(" ","_") for each in play_s_d.columns]

In [95]:
play_s_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content_Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last_Updated    10841 non-null  object
 11  Current_Ver     10833 non-null  object
 12  Android_Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

## as we can see the play store dataset is having Review, Size of app, number of installs, and price is object data type and we can also see there is null value in some columns 
## now first i will convert Review, Size, Installs and price into numeric data type

In [96]:
#Change reviews column datatype to int
play_s_d.Reviews = play_s_d.Reviews.apply(lambda x: (float(str(x).replace('M', '')))*1000000 if 'M' in str(x) else x) # i am taking M is as million so i have multiplied it to 1000000
play_s_d.Reviews = play_s_d.Reviews.apply(lambda x:int(x))

In [97]:
play_s_d['Reviews'].mean()

444388.6535374965

In [98]:
#converting column "Size"  Mb Kb and  (+) and (,) to float using lamda function
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: str(x).replace('Varies with device', 'NaN') if 'Varies with device' in str(x) else x)
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: str(x).replace('M', '') if 'M' in str(x) else x)
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: str(x).replace(',', '') if ',' in str(x) else x)
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: float(str(x).replace('k', '')) / 1000 if 'k' in str(x) else x) # 1 MB is equal to 1000 KB
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: str(x).replace('+','') if '+' in str(x) else x)

In [99]:
play_s_d['Size'] = play_s_d['Size'].apply(lambda x: float(x))

In [100]:
play_s_d['Size'].min()

0.0085

## minimum Size is not zero so i can move forward

In [101]:
play_s_d['Size'].max()

1000.0

In [102]:
play_s_d['Size'].mean()

21.62351437787002

## so now i have successfully converted two columns.
## Reviews and Size are now numeric data type